*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build
*.apk
*.ap_
*.aab
*.dex
*.class
captures/
.externalNativeBuild
.cxx
.kotlin

# Generated signing and security files
*.keystore
*.jks
google-services.json
